@page
@model PublicTalkSchedule.Pages.Talks.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Delete A Public Talk</h2>
<h6 class="text-danger">******* Delete cannot be undone *******</h6>
<br />

<!-- ******************************************************************** -->
<!-- banner and Delete Talks -->
<form method="post">
    <!-- hidden column that is not updated. ID column is usually included here-->
    <!-- <input asp-for="TalkList.Id" hidden /> NOT HIDDEN FOR NOW -->

    <div class=" border  backgroundWhite">
        <!-- the talknum, title and catnum can be seen but not edited -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TalkList.Id"></label>
            </div>
            <div class="col-5">
                <input asp-for="TalkList.Id" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TalkList.Title"></label>
            </div>
            <div class="col-5">
                <input asp-for="TalkList.Title" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="TalkList.CatDescription"></label>
            </div>
            <div class="col-5">
                <input asp-for="TalkList.CatDescription" disabled class="form-control" />
            </div>
        </div>

        <!-- add buttons-->
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" />
            </div>
        </div>
    </div>
</form>

