@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron-fluid text-white" style="background-color:darkgreen">
    <h1 align="center">Public Talk Schedule</h1>
</div>

<br />
<br />
<br />
<div class="row">

    <div class="col-md-2">
        <h2></h2>
        <ul></ul>
    </div>

    <div class="col-md-7">
        <h1 align="center">Welcome to Public Talk Schedule - (PTS)</h1>

        <p>
            PTS is a web based application that allows a congregation's Publis Talk Coordinator
            to schedule and track incoming and an outgoing public talk speakers.  The program also tracks
            when a talk was last given.  Speakers in the local congregation
            can use the program to track where and when they are scheduled
            to give a publis talk.
        </p>
    </div>

    <div class="col-md-3">
        <h2></h2>
        <ul></ul>
    </div>

</div>
